/mooc-java-programming-i/part01-Part01_02.AdaLovelace/target/
/mooc-java-programming-i/part01-Part01_03.OnceUponATime/target/
/mooc-java-programming-i/part01-Part01_04.Dinosaur/target/
/mooc-java-programming-i/part01-Part01_05.Message/target/
/mooc-java-programming-i/part01-Part01_06.HiAdaLovelace/target/
/mooc-java-programming-i/part01-Part01_07.MessageThreeTimes/target/
/mooc-java-programming-i/part01-Part01_08.Greeting/target/